/* Train view */
.train-view .content {
  display: flex;
}

/* Train form */
.train-view .train-grid {
  flex : 2;
}

.train-view .train-form {
  flex : 1;
  padding: var(--lumo-space-m);
}

/* header */

.header {
  padding: 0 var(--lumo-space-m);
}

.header .h5.menu {
  font-size: 1em;
  margin: var(--lumo-space-m);
}